# CLion
.idea/

# CMake
cmake-build-debug/
cmake-build-release/

# obiecte
*.o
*.obj

# fisiere temporare
*.log
*.cache

# executabile (exceptie pentru cele din Aplicatie_Java)
*.exe
*.out
!Aplicatie_Java/executabile/CompresorHuffman.exe
!Aplicatie_Java/executabile/DecompresorHuffman.exe