# CLion
.idea/

# CMake
cmake-build-debug/
cmake-build-release/

# executabile
*.exe
*.out

# executabile
*.exe
*.out

# exceptii - pastrez executabilele din Java_App
!Java_App/executabile/CompresorHuffman.exe
!Java_App/executabile/DecompresorHuffman.exe
!Java_App/Huffman_Compiler.exe

# obiecte
*.o
*.obj

# fisiere temporare
*.log
*.cache